body 
{
	background:#f8f8ff;
	font-family: arial;
}
/*
h1,h2,p,li
{
	color:#555;
}
a
{
	color:green;
}

p 
{
	background: #666;
	color:white;
	padding:10px 0px; 
}

*/
.secondary
{
	background: none;
	color:#777;
}

.column {
	float: left;
	max-width: 30%;
	height: auto;
	padding: 5px;
	border-radius: 8px;
}

.heading {
	text-align: center;
}

<!-- test -->
